@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "leaflet/dist/leaflet.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}


/* index.css hoặc App.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  touch-action: auto; /* ✅ Cho phép pinch-zoom trên mobile */
}
